.trendBox{
    padding: 20px;
    padding-bottom: 35px;
    width: 500px;
    display: inline-block;
}
.rankDisplay{
    color: rgba(0, 5, 5, 0.199);
    font-size: 30px;
    text-align: left;
    float: left;
    font-weight: bold;
}
.trendingInfo{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;
}
.trendingInfo:hover{
    cursor: pointer;
}
.trendingAuthor{
    font-size: 13px;
    padding-bottom: 11px;
}
.trendingTitle{
    font-weight: bold;
    padding-bottom: 11px;
}
.trendingDate{
    font-size: 12px;
    color:rgba(0, 5, 5, 0.616);
}